#text-editor {
    margin: 40px;
}

.typing-landing {
    background-color: #000000;
    box-shadow: 0.1em 0.1em 0.8em #6b6b6b;
    color: #ffffff;
    counter-reset: line;
    font-family: Arvo, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 0;
    min-width: 445px;
    width: 100%;
}

.typing-landing-content {
    display: flex;
    line-height: 1.5rem;
}

.typing-landing-content::before {
    border-right: 1px solid #ddd;
    color: #888;
    content: counter(line);
    counter-increment: line;
    margin-right: 0.5em;
    padding: 0 0.5em;
    text-align: right;
    width: 22px;
}

.typing-landing-content p {
    font-weight: normal;
}

@media only screen and (max-width: 519.5px) {
    #text-editor {
        margin: 20px 15px;
    }

    .typing-landing {
        font-size: 14px;
        min-width: 330px;
    }
}
