#contact-link-container svg {
    font-size: 60px;
}

/* don't forget to set min-width of PageContent in main.css and minWidth of CustomNav.js */
@media only screen and (min-width: 750px) {
    #contact-container {
        margin: auto 0 !important;
    }

    @media only screen and (min-height: 480px) {
        #contact-subcontainer {
            position: relative;
            top: 40%;
            transform: translateY(-40%);
        }
    }
}
