.custom-card {
    background-color: #003e6d !important;
    color: #ffffff;
    margin: 10px auto;
    max-width: 500px;
}

.custom-card a {
    margin: 0 auto;
}

@media only screen and (min-width: 750px) {
    .custom-card {
        display: inline-block;
        height: 525px;
        margin: 10px;
        width: 490px;
    }
}
